* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

:root {
    --color-principal: rgb(68, 68, 241);
    --color-secundario: rgb(23, 135, 23);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: fantasy;
}